Repository nbc111/pancake-frontend--pancakeswap-pools: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-error-on-unmatched-pattern, prettier --write

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": ["eslint --fix --no-error-on-unmatched-pattern", "prettier --write"],
  "**/*.json": ["prettier --write"]
}

浏览器标签页标题为"NBC Staking"
  apps/web/next-seo.config.ts
  apps/web/src/config/constants/meta.ts
Due: eslint --fix --no-error-on-unmatched-pattern, prettier --write

开发环境、生产环境构建流程总结说明。
  BUILD_PROCESS.md
  build.ps1
Due: none

增加SUI奖励池！
  apps/web/src/views/NbcStakingPools/hooks/useNbcStakingPools.ts
Due: eslint --fix --no-error-on-unmatched-pattern, prettier --write

端口修改；
  apps/web/package.json
Due: prettier --write

部署指南和脚本
  DEPLOY.md
  deploy.ps1
  deploy.sh
  server-deploy.sh
Due: none

添加部署方式；
  deploy-commands.txt
  quick-deploy.ps1
Due: none

修改部署脚本；
  QUICK_DEPLOY.md
  deploy-oneline.sh
  deploy-server-command.sh
Due: none

nginx配置
  NGINX_SETUP.md
  nginx-setup-commands.txt
  nginx-staking.conf
  setup-nginx.sh
Due: none

质押页面文案显示调整；点击事件调整；网络切换只保留 NBC Chain
  apps/web/public/locales/en-US.json
  apps/web/public/locales/zh-CN.json
  apps/web/src/components/Menu/index.tsx
  apps/web/src/components/NetworkSwitcherModal.tsx
  packages/uikit/src/widgets/Menu/components/Logo.tsx
Due: eslint --fix --no-error-on-unmatched-pattern, prettier --write

手机端和PC端图标显示适配；
  packages/uikit/src/widgets/Menu/components/Logo.tsx
Due: eslint --fix --no-error-on-unmatched-pattern, prettier --write

暂时停用顶部导航 Earn 菜单的二级下拉
  apps/web/src/components/Menu/config/config.ts
Due: eslint --fix --no-error-on-unmatched-pattern, prettier --write

价格区域的容器点击事件屏蔽；
  packages/uikit/src/components/CakePrice/CakePrice.tsx
Due: eslint --fix --no-error-on-unmatched-pattern, prettier --write

设置弹窗中的“Solana Settings”栏移除；
  apps/web/src/components/Menu/GlobalSettings/GlobalSettings.tsx
Due: eslint --fix --no-error-on-unmatched-pattern, prettier --write

APR计算和官方同步；
  apps/web/src/views/NbcStakingPools/hooks/useNbcStakingPools.ts
Due: eslint --fix --no-error-on-unmatched-pattern, prettier --write

在远程服务器上配置 Nginx 反向代理和 SSL 证书，让应用可以通过 https://staking.nbblocks.cc/ 访问
  execute-nginx-setup.sh
Due: none

获取NBC交易所价格，显示对应NBC币种图标。
  apps/web/src/hooks/useCakePrice.ts
  packages/uikit/src/components/CakePrice/CakePrice.tsx
Due: eslint --fix --no-error-on-unmatched-pattern, prettier --write

NBC价格显示小数位数限制。
  apps/web/src/components/Menu/index.tsx
  packages/uikit/src/components/CakePrice/CakePrice.tsx
Due: eslint --fix --no-error-on-unmatched-pattern, prettier --write

Earn 菜单项点击屏蔽；BUY NBC 按钮暂时屏蔽；
  apps/web/src/components/Menu/config/config.ts
  apps/web/src/components/Menu/index.tsx
  packages/uikit/src/components/Footer/Footer.tsx
  packages/uikit/src/components/Footer/types.ts
Due: eslint --fix --no-error-on-unmatched-pattern, prettier --write

修复连接钱包后，右上角钱包状态未变更的问题；
  apps/web/src/wallet/hook/useSyncWagmiState.ts
Due: eslint --fix --no-error-on-unmatched-pattern, prettier --write

手机端的 “Earn / Liquidity Pools” 图标屏蔽点击；去掉 “See Token Info” 与 “View Project Site” 两个按钮；
  apps/web/.eslintrc
  apps/web/src/components/Menu/index.tsx
  apps/web/src/views/Pools/components/PoolStatsInfo.tsx
Due: eslint --fix --no-error-on-unmatched-pattern, prettier --write

在手机端连接钱包根据 deep link 打开对应的 Dapp URL
  apps/web/src/config/wallet.ts
Due: eslint --fix --no-error-on-unmatched-pattern, prettier --write

本地或服务器环境里确认 NEXT_PUBLIC_DAPP_URL 没有别的值（缺省就会用 https://staking.nbblocks.cc/nbc-staking?chain=nbc）
  apps/web/src/config/constants/dappUrl.ts
  apps/web/src/config/wallet.ts
  apps/web/src/utils/wagmi.ts
Due: eslint --fix --no-error-on-unmatched-pattern, prettier --write

系统浏览器跳转到MetaMask的自带浏览器
  apis/proxy-worker/src/index.ts
  apps/aptos/.env
  apps/blog/.env
Due: eslint --fix --no-error-on-unmatched-pattern, prettier --write

浏览器标题社交平台预览修改
  apps/aptos/next-seo.config.ts
  apps/blog/next-seo.config.ts
  apps/solana/next-seo.config.ts
  apps/web/next-seo.config.ts
Due: eslint --fix --no-error-on-unmatched-pattern, prettier --write

修正 WalletConnect 会话校验的逻辑（将地址统一转小写再判断），避免因大小写不一致而被误判为“链不匹配”并强制 logout
  apps/web/src/wallet/hook/useSwitchNetworkV2.ts
Due: eslint --fix --no-error-on-unmatched-pattern, prettier --write

移除空钱包提示里的“将加密货币跨链”按钮
  apps/web/src/components/WalletModalV2/EmptyWalletActions.tsx
Due: eslint --fix --no-error-on-unmatched-pattern, prettier --write

将 “购买/接收/跨链” 等所有按钮区块全部删除；
  apps/web/src/components/WalletModalV2/EmptyWalletActions.tsx
Due: eslint --fix --no-error-on-unmatched-pattern, prettier --write

不渲染任何文字
  apps/web/src/components/WalletModalV2/EmptyWalletActions.tsx
Due: eslint --fix --no-error-on-unmatched-pattern, prettier --write

移除 EmptyWalletActions 组件及其所有引用
  apps/web/src/components/WalletModalV2/EmptyWalletActions.tsx
  apps/web/src/components/WalletModalV2/WalletModal.tsx
Due: eslint --fix --no-error-on-unmatched-pattern, prettier --write

Transactions 和 Gift 按钮移除
  apps/web/src/components/Menu/UserMenu/WalletModal.tsx
Due: eslint --fix --no-error-on-unmatched-pattern, prettier --write

钱包UI交互调整；
  apps/web/src/components/WalletModalV2/ConnectedWallets.tsx
  apps/web/src/components/WalletModalV2/ConnectedWalletsButton.tsx
  apps/web/src/components/WalletModalV2/WalletModal.tsx
  packages/ui-wallets/src/components/WalletSelect/WalletChainSelect.tsx
Due: eslint --fix --no-error-on-unmatched-pattern, prettier --write

提高 APR 显示精度，修改成4位小数
  apps/web/src/views/NbcStakingPools/components/NbcAprRow.tsx
  apps/web/src/views/Pools/components/PoolsTable/Cells/AprCell.tsx
  apps/web/src/views/Pools/components/Stat.tsx
  packages/widgets-internal/pool/Apr.tsx
Due: eslint --fix --no-error-on-unmatched-pattern, prettier --write

钱包NBC链资产获取，钱包资产币种图标显示；
  apps/web/src/components/WalletModalV2/AssetsList.tsx
  apps/web/src/components/WalletModalV2/WalletModal.tsx
  apps/web/src/hooks/useAddressBalance.ts
  packages/utils/uriToHttp.ts
  packages/widgets-internal/components/CurrencyLogo/CurrencyLogo.tsx
Due: eslint --fix --no-error-on-unmatched-pattern, prettier --write

Step deployment and organization
  DEPLOY_LOCAL_BUILD.md
  README.md
  deploy-local-build.ps1
  deploy-local-build.sh
  server-deploy-local-build.sh
Due: none

Logo modification
  apps/web/public/images/mainlogo.svg
  apps/web/public/images/tokens/domain.json
  packages/uikit/src/components/Svg/Icons/LogoWithText.tsx
Due: eslint --fix --no-error-on-unmatched-pattern, prettier --write

Staking pool configuration
  apps/web/src/config/staking/README.md
  apps/web/src/config/staking/index.ts
  apps/web/src/config/staking/poolConfig.ts
  apps/web/src/config/staking/rewardRates.ts
  apps/web/src/views/NbcStakingPools/hooks/useNbcStakingPools.ts
  contracts/DEPLOYED_CONTRACTS.md
  contracts/NOTIFY_REWARD_PARAMS_TABLE.md
  contracts/README.md
  contracts/REMMIX_FIX_POOLS.md
  contracts/REMMIX_NOTIFY_REWARD_PARAMS.md
  contracts/REMMIX_QUICK_GUIDE.md
  contracts/staking/NbcMultiRewardStaking.sol
  contracts/tokens/ERC20Token.sol
Due: eslint --fix --no-error-on-unmatched-pattern, prettier --write

质押池奖励率计算脚本-可在remix运行
  contracts/REMMIX_STAKING_CONVERSION_CONFIG.md
  contracts/calculate-reward-rates.js
Due: eslint --fix --no-error-on-unmatched-pattern, prettier --write

配置质押池脚本修复；按照兑换比例表配置所有质押池；
  contracts/ERC20_APPROVE_MECHANISM.md
  contracts/ERC20_APPROVE_UNITS.md
  contracts/REMMIX_APPROVE_PARAMS.md
  contracts/REMMIX_CHECK_POOLS.md
  contracts/REMMIX_DETAILED_STEPS.md
  contracts/REMMIX_SETUP_POOLS.md
  contracts/calculate-reward-rates.js
Due: eslint --fix --no-error-on-unmatched-pattern, prettier --write

服务器端更新部署脚本
  update-deploy.sh
Due: none
